.frame {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    background-color: #E27474;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px, rgba(0, 0, 0, 0.3);
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    flex-wrap: wrap;
}
.bubu {
    /* position: absolute; */
    /* min-width: 200px; */
    width: 190px;
    height: 190px;
    background-color: #E27474;
    text-align: center;
    border: 5px solid #E27474;
    transition: border 200ms ease-in-out, box-shadow 200ms ease-in-out;
    
}
.bubu:hover {
    border: 5px solid black;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.232) inset;
}
.container {
    width: 190px;
    height: 190px;
}
.container:hover .day {
    margin-top: 55px;
    font-size: 19px;
}
.container:hover .date {
    font-size: 48px;
}
.b-1 {
    border-top-left-radius: 5px;
}
.b-2 {
    border-top-right-radius: 5px;
}
.b-3 {
    border-bottom-left-radius: 5px;
}
.b-4 {
    border-bottom-right-radius: 5px;
}
.day {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
    font-size: 20px;
    transition: font-size 200ms ease-in-out, margin-top 200ms ease-in-out;
}
.date {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;

    transition: font-size 200ms ease-in-out;
}
